@namespace AntDesign
@inherits AntDesign.AntDomComponentBase

@{ 
    RenderFragment<RateItem> template = me =>
    @<div role="radio" aria-checked="true" aria-posinset="@(me.IndexOfGroup + 1)" aria-setsize="5" tabindex="@me.IndexOfGroup">
        <div class="ant-rate-star-first" @onclick="@(async e => await me.OnClick(true))" @onmouseover="@(async e => await me.OnHover(true))">
            @if (@me.Character != null)
            {
                @me.Character.Invoke(new RateItemRenderContext());
            }
            else
            {
                <Icon Type="star" Theme="fill"></Icon>
            }
        </div>
        <div class="ant-rate-star-second" @onclick="@(async e => await me.OnClick(false))" @onmouseover="@(async e => await me.OnHover(false))">
            @if (@me.Character != null)
            {
                @me.Character.Invoke(new RateItemRenderContext());
            }
            else
            {
                <Icon Type="star" Theme="fill"></Icon>
            }
        </div>
    </div>;

}

@if (string.IsNullOrWhiteSpace(Tooltip))
{
    <li class="@_starClassMapper.Class" @ref="Ref">
        @template(this)
    </li>
}
else
{
    <Tooltip Title="@Tooltip">
        <Unbound>
            <li class="@_starClassMapper.Class" @ref="@context.Current">

                @template(this)
            </li>
        </Unbound>
    </Tooltip>
}